@model ICategoryRepository

<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    @foreach (var p in Model.ParentCategories)
    {
        @*<a asp-action="List" asp-controller="Shop" asp-route-category="@Model.product.Category.Name">@Model.product.Category.Name</a>*@
        @*<a asp-action="List" asp-controller="Shop" asp-route-category="@p.Name">*@
    <button class="dropdown-btn">
        @if (p.ChildCategories.Count < 1)
        {
            <a asp-action="List" asp-controller="Shop" asp-route-category="@p.Name" asp-route-page="1">@p.Name</a>
        }
        else {@p.Name}
        <i class="fa fa-caret-down"></i>
    </button>
        @*</a>*@
    <div class="dropdown-container">
        @foreach (var c in p.ChildCategories)
        {
            @if (c.ChildCategories.Count < 1)
            {
                <a asp-action="List" asp-controller="Shop" asp-route-category="@c.Name" asp-route-page="1">@c.Name</a>

            }
            else
            {
            <button class="dropdown-btn">
                  @c.Name
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                @foreach (var subCategory in c.ChildCategories)
                {
                    <a asp-action="List" asp-controller="Shop" asp-route-category="@subCategory.Name" asp-route-page="1">@subCategory.Name</a>
                }
            </div>
            }
        }
     </div>
    }
    </div>
