@*@model ICategoryRepository*@
@model IQueryable<Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="~/files/main/slider/1D2A4399.jpg" style="width:100%">
        @*<div class="text">Caption Text</div>*@
    </div>

    <div class="mySlides fade">
        <img src="~/files/main/slider/IMG_9911.jpg" style="width:100%">
    </div>

</div>

<div style="text-align:center">
    <span class="dot" @*onclick="currentSlide(1)" *@></span>
    <span class="dot" @*onclick="currentSlide(2)" *@></span>
</div>

<section class="new-products appear-from-nowhere shown">
    <div class="container parent-height">
        <div class="row parent-height appearing-group shown">
            <div class="col-xs-12 parent-height">
                <span class="title">
                    <span>
                        <a href="#">
                            Новинки
                        </a>
                    </span>
                </span>
                @*<div class="indicators">
                        <a href="#" class="left appearing-object">
                            <span></span>
                        </a>
                        <a href="#" class="right appearing-object">
                            <span>

                            </span>
                        </a>
                    </div>*@
                <div class="wrapper">
                    <ul class="products">
                        @foreach (var p in Model)
                        {
                            <li class="product inner-appearing-object">
                                <a href="#" class="rightClickLink"></a>
                                <div class="picture img">
                                    <a asp-action="Product" asp-controller="Shop" asp-route-id="@p.Id">
                                        @if (p.Images.Count > 0)
                                        {
                                            <img src="@Url.Content("/files/Sm2/" + p.Images[0].Name)">
                                        }
                                        else
                                        {
                                            <img src="@Url.Content("/files/Sm2/noPhoto.jpg")" class="zoom-in">
                                        }
                                    </a>
                                </div>
                                <div class="description">
                                    <div class="information">
                                        <div class="name">
                                            <a asp-action="Product" asp-controller="Shop" asp-route-id="@p.Id">
                                                <p>@p.Name</p>
                                            </a>
                                        </div>
                                        <div class="price">
                                            <p></p>
                                            <span class="woocommerce-Price-currencySymbol">@p.Price грн</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                        @*<li class="product inner-appearing-object">
                                <a href="#" class="rightClickLink"></a>
                                <div class="picture img">
                                    <img src="~/files/main/newProducts/1.jpg" />
                                </div>
                                <div class="description">
                                    <div class="information">
                                        <div class="name">
                                            <p>Magnolia Champagne</p>
                                        </div>
                                        <div class="price">
                                            1200 грн
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li class="product inner-appearing-object">
                                <a href="#" class="rightClickLink"></a>
                                <div class="picture img">
                                    <img src="~/files/main/newProducts/19.jpg" />
                                </div>
                                <div class="description">
                                    <div class="information">
                                        <div class="name">
                                            <p>Magnolia Champagne</p>
                                        </div>
                                        <div class="price">
                                            1200 грн
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li class="product inner-appearing-object">
                                <a href="#" class="rightClickLink"></a>
                                <div class="picture img">
                                    <img src="~/files/main/newProducts/39.jpg" />
                                </div>
                                <div class="description">
                                    <div class="information">
                                        <div class="name">
                                            <p>Magnolia Champagne</p>
                                        </div>
                                        <div class="price">
                                            1200 грн
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li class="product inner-appearing-object">
                                <a href="#" class="rightClickLink"></a>
                                <div class="picture img">
                                    <img src="~/files/main/newProducts/1.jpg" />
                                </div>
                                <div class="description">
                                    <div class="information">
                                        <div class="name">
                                            <p>Magnolia Champagne</p>
                                        </div>
                                        <div class="price">
                                            1200 грн
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li class="product inner-appearing-object">
                                <a href="#" class="rightClickLink"></a>
                                <div class="picture img">
                                    <img src="~/files/main/newProducts/19.jpg" />
                                </div>
                                <div class="description">
                                    <div class="information">
                                        <div class="name">
                                            <p>Magnolia Champagne</p>
                                        </div>
                                        <div class="price">
                                            1200 грн
                                        </div>
                                    </div>

                                </div>
                            </li>*@
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <script>
        //var slideIndex = 1;
        //showSlides(slideIndex);

        //function plusSlide(n) {
        //    showSlides(slideIndex += n);
        //}

        //function currentSlide(n) {
        //    showSlides(slideIndex = n);
        //}

        //function showSlides(n) {
        //    var i;
        //    var slides = document.getElementsByClassName("mySlides");
        //    var dots = document.getElementsByClassName("dot");
        //    if (n > slides.length) { slideIndex = 1 }
        //    if (n < 1) { slideIndex = slides.length }
        //    for (i = 0; i < slides.length; i++) {
        //        slides[i].style.display = "none";
        //    }
        //    for (i = 0; i < dots.length; i++) {
        //        dots[i].className = dots[i].className.replace(" active", "");
        //    }
        //    slides[slideIndex - 1].style.display = "block";
        //    dots[slideIndex - 1].className += " active";
        //}
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 3000); // Change image every ... seconds
        }
    </script>
</section>   