@model ProductView
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="container">
    <div id="content">
        @*<div id="ct_size_guide"></div>*@
        <div class="bProductView">
            <div class="bWrap">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="breadCrumbs">
                            <a asp-action="Index" asp-controller="Home">Главная</a>
                            &nbsp;/&nbsp;
                            <a asp-action="Index" asp-controller="Shop">Mагазин</a>
                            &nbsp;/&nbsp;
                            <a asp-action="List" asp-controller="Shop" asp-route-category="@Model.product.Category.Name" asp-route-page="1">@Model.product.Category.Name</a>
                        </nav>
                        <div class="product eProductView_body">
                            <div class="eProductView_images">
                                <div class="eProductView_slider">
                                    <div class="slick-slider">
                                        <div class="slick-list">
                                            <div class="slick-track">
                                                <div class="eProductView_image slick-current slick-active">
                                                    @*<img width="600" height="436" src="~/files/main/newProducts/11.png" />*@
                                                    <a asp-action="Product" asp-controller="Shop" asp-route-id="@Model.product.Id">
                                                        @Html.Partial("Image.cshtml", @Model.product)
                                                    </a>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                @*@if (@Model.product.Category.Name != "Подарочный сертификат")
                                    {*@
                                <div class="eProductView_sliderNav">                                 
                                    <div class="slick-slider slick-vertical">
                                        <div class="slick-list draggable">
                                            <div class="slick-track">
                                                @foreach (var image in @Model.product.Images)
                                                {
                                                    <div class="eProductView_image slick-slide">
                                                        <img class="sm_img" name="@image.Name" src="@Url.Content("/files/Sm2/" + @image.Name)" />
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*}*@
                            </div>

                            <div class="eProductView_data">
                                <div class="eProductView_row mProductView_name">
                                    <a asp-action="Product" asp-controller="Shop" asp-route-id="@Model.product.Id">
                                        <h1 itemprop="name" class="eProductView_name">
                                            @Model.product.Name
                                        </h1>
                                    </a>
                                </div>
                                @if (Model.product.Category.Name != "Подарочный сертификат")
                                {
                                    <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="eProductView_row mProductView_price">
                                        <div class="eProductView_price"><span name="product.Price"  asp-for="@Model.product.Price"   class="woocommerce-Price-amount amount">@Model.product.Price &nbsp;<span class="woocommerce-Price-currencySymbol">грн</span></span></div>
                                    </div>
                                }
                                    <div class="eProductView_row">
                                        <div class="mProductView_form">
                                            <form class="variations_form cart " asp-action="AddToCart"
                                                  asp-controller="Cart" method="post" enctype="multipart/form-data" id="@Model.product.Id">
                                                <input type="hidden" asp-for="@Model.product.Id" />
                                                <input type="hidden" asp-for="@Model.product.Name" />
                                                <input type="hidden" asp-for="@Model.product.Category.Name" />

                                                @if (Model.product.Category.Name != "Подарочный сертификат")
                                                {
                                                    <input type="hidden" asp-for="@Model.product.Price" />
                                                }

                                                    @if (Model.product.Category.Name == "Подарочный сертификат")
                                                    {
                                                        <div class="form-group row">
                                                            <label asp-for="@Model.product.Price" class="col-sm-3 col-form-label">Номинал</label>
                                                            <div class="col-sm-9">
                                                                <select style="width:70%;" name="product.Price" class="source" asp-for="@Model.product.Price" asp-items="@ViewBag.PricesForSertivicate">
                                                                    @*<optgroup class="select2-result-selectable"></optgroup>*@
                                                                </select>
                                                            </div>
                                                        </div>
                                                    }

                                                    <div class="prod">
                                                        @if (Model.product.Category.Name != "Подарочный сертификат")
                                                        {


                                                            @if (Model.product.Products.Count > 0)
                                                            {
                                                                @*<label class="size col-sm-2 col-form-label">Размер</label>*@


                                                                @for (int i = 0; i < Model.product.Products.Count; i++)
                                                                {
                                                                    <div class="form-group row">
                                                                        @if (Model.product.Products[i].Sizes != null)
                                                                        {
                                                                            @*<div class="form-group row">*@
                                                                            <input type="hidden" name="product.Products[@i].Name" asp-for="@Model.product.Products[i].Name" />
                                                                            <div class="col-sm-12 sizeM center-block  font-weight-normal" data-toggle="buttons">
                                                                                <div asp-for="@Model.product.Products[i].Sizes" class=" inline">
                                                                                    @if (Model.product.Products[i].Name == "Top")
                                                                                    {
                                                                                        <span class="width80">Размер бюста</span>
                                                                                    }
                                                                                    else if (Model.product.Products[i].Name == "Bottom")
                                                                                    {
                                                                                        <span class="width80">Размер трусиков</span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <span class="width60">@Model.product.Products[i].Name</span>
                                                                                    }
                                                                                </div>
                                                                                @{string sizeSuit = "sizeSuit" + i;}
                                                                                <label id="@Model.product.Products[i].Name">
                                                                                    @foreach (var s in Model.product.Products[i].Sizes)
                                                                                    {
                                                                                        <label tabindex="1" class=@sizeSuit>
                                                                                            <input id="@s.Name" type="radio" value="@s.Name" name="product.Products[@i].Sizes[0].Name" />
                                                                                            @s.Name
                                                                                        </label>
                                                                                    }
                                                                                </label>
                                                                                @*</div>*@
                                                                                @if (Model.product.Products[i].Price > 0 && Model.product.Products[i].Name != "Top" && Model.product.Products[i].Name != "Bottom")
                                                                                {
                                                                                    <input type="hidden" name="product.Products[@i].Price" asp-for="@Model.product.Products[i].Price" />
                                                                                    <label asp-for=@Model.product.Products[i].Price class="col-sm-1 inline  float-right">+@Model.product.Products[i].Price<span class="woocommerce-Price-currencySymbol">грн</span></label>
                                                                                }
                                                                                @*<div> <span asp-validation-for="@Model.Product.Products[i].Sizes" class="text-danger"></span></div>*@
                                                                                @*</div>*@
                                                                            </div>

                                                                        }
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                @if (Model.product.Sizes != null)
                                                                {
                                                                    <div class="form-group">
                                                                        <div class="col-sm-12 sizeM center-block" data-toggle="buttons">
                                                                            <label asp-for="@Model.product.Sizes" class="size">Размер:</label>
                                                                            @foreach (var s in Model.product.Sizes)
                                                                            {

                                                                                @*<label class="btn btn-primary">*@
                                                                                @*@Html.RadioButton("product.Sizes[0].Name", s.Name)*@
                                                                                <input id="@s.Name" type="radio" value="@s.Name" name="product.Sizes[0].Name" />
                                                                                <label tabindex="0" for="@s.Name" class="badgeSize">@s.Name</label>
                                                                                @*</label>*@

                                                                            }
                                                                            @*<select class="source" name="product.Sizes[0].Name" asp-for="@Model.product.Sizes" asp-items="@(new SelectList(Model.product.Sizes, "Name", "Name"))">
                                     <optgroup class="badge badge-secondary"  label="Enter size"></optgroup>
                                    </select>*@
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                                                    <div>
                                                        @if (Model.product.Category.Name != "Подарочный сертификат")
                                                        {
                                                            <label class="col-sm-8 center-block inline paddingBottom5 "> Цвет: @Model.product.Color</label>
                                                        }

                                                        @if (Model.product.Category.Name == "Подарочный сертификат")

                                                        {
                                                            <p class="text-indent">Подарочный сертификат-идеальный подарок для близких людей к любому празднику, который можно обменять в шоу - руме на комплект нижнего белья или портупею. Вы самостоятельно можете выбрать номинал от 500грн. </p> <p class="text-indent">Условия использования подарочного сертификата:</p><p class="text-indent">1.Подарочный сертификат дает право приобрести нижнее белье на сумму указанную в сертификате в сети магазинов 'TILO showroom'.</p><p class="text-indent">2.Подарочный сертификат имеет неограниченный срок действия.</p><p class="text-indent">3.При приобретении товара на сумму больше указанной в сертификате совершается доплата к стоимости товара.Если выбранный товар стоит меньше указанной суммы в сертификате, возврат разницы не совершается.</p><p class="text-indent">4.Подарочный сертификат не подлежит обмену на денежные средства.</p>
                                                        }
                                                        else
                                                        {
                                                            <p class="col-sm-12 center-block paddingBottom5 whiteSpace descriptStyle">
                                                                @(Model.product.Description ?? "(No Description Available")
                                                            </p>
                                                        }

                                                    </div>
                                                    <div class="row">

                                                        <div class="col-sm-10 count center-block" style="width:145px">
                                                            <div class="input-group">
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quantity">
                                                                        <span class="glyphicon glyphicon-minus"></span>
                                                                    </button>
                                                                </span>
                                                                <input type="text" name="quantity" class="form-control input-number" value="1" min="1" max="9">
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quantity">
                                                                        <span class="glyphicon glyphicon-plus"></span>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-10 center-block">
                                                            <button type="submit"
                                                                    class="btn btn-primary btn-sm center-block"
                                                                    style=" background-color:black; margin-top:20px">
                                                                Купить
                                                            </button>
                                                        </div>
                                                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>

                @if (Model.Products != null && Model.product.Category.Name != "Подарочный сертификат")
                {
                    <div class="row">
                        <div class="col-12 paddingBottom5">
                           <h4>Вам также могут понравится:</h4>
                        </div>
                        <div class="text-left">
                            @foreach (var p in Model.Products.Take(5))
                            {
                                <a class="paddingLeftRight5" asp-action="Product" asp-controller="Shop" asp-route-id="@p.Id">
                                    @if (p.Images.Count > 0 && Model.product.Id != p.Id)
                                    {
                                        <img class="sm_img" name="@p.Images[0].Name" src="@Url.Content("/files/Sm2/" + @p.Images[0].Name)" />
                                    }
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script> 

    $(document).ready(function () {

        $('.sizeSuit0').click(function (e) {
            $(e.currentTarget).siblings().removeClass('selected');
            //$(e.currentTarget).siblings().removeClass('active');
            $(e.currentTarget).addClass('selected');
            //$(e.currentTarget).addClass('focus');

         });

        $('.sizeSuit1').click(function (e) {
            //e.preventDefault();
            //$(e.currentTarget).siblings().removeClass('focus');
            $(e.currentTarget).siblings().removeClass('selected');
            //$(e.currentTarget).siblings().removeClass('active');

            $(e.currentTarget).addClass('selected');
            //$(e.currentTarget).addClass('focus');



        });

        $('.sizeSuit2').click(function (e) {
            //e.preventDefault();
            //$(e.currentTarget).siblings().removeClass('focus');
            $(e.currentTarget).siblings().removeClass('selected');

            $(e.currentTarget).addClass('selected');
            //$(e.currentTarget).addClass('focus');



        });

        $('.sizeSuit3').click(function (e) {
            $(e.currentTarget).siblings().removeClass('selected');

            //$(e.currentTarget).siblings().removeClass('focus');
            $(e.currentTarget).addClass('focus');

        });


        $('.sizeSuit4').click(function (e) {
            $(e.currentTarget).siblings().removeClass('selected');

            $(e.currentTarget).addClass('selected');


        });

        $('.sizeSuit5').click(function (e) {
            $(e.currentTarget).siblings().removeClass('selected');

            $(e.currentTarget).addClass('selected');

        });
        $('.source').select2();

        $(document).on("click", ".select2-results__group", function () {

            var groupName = $(this).html()
            var options = $('.source option');

            $.each(options, function (key, value) {

                if ($(value)[0].parentElement.label.indexOf(groupName) >= 0) {
                    $(value).prop("selected", "selected");
                }

            });

            $(".source").trigger("change");
            $(".source").select2('close');

        });
    });

 

    $('.btn-number').click(function (e) {
        e.preventDefault();

        fieldName = $(this).attr('data-field');
        type = $(this).attr('data-type');
        var input = $("input[name='" + fieldName + "']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
            if (type == 'minus') {

                if (currentVal > input.attr('min')) {
                    input.val(currentVal - 1).change();
                }
                if (parseInt(input.val()) == input.attr('min')) {
                    $(this).attr('disabled', true);
                }

            } else if (type == 'plus') {

                if (currentVal < input.attr('max')) {
                    input.val(currentVal + 1).change();
                }
                if (parseInt(input.val()) == input.attr('max')) {
                    $(this).attr('disabled', true);
                }

            }
        } else {
            input.val(0);
        }
    });
    $('.input-number').focusin(function () {
        $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function () {

        minValue = parseInt($(this).attr('min'));
        maxValue = parseInt($(this).attr('max'));
        valueCurrent = parseInt($(this).val());

        name = $(this).attr('name');
        if (valueCurrent >= minValue) {
            $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
        } else {
            alert('Sorry, the minimum value was reached');
            $(this).val($(this).data('oldValue'));
        }
        if (valueCurrent <= maxValue) {
            $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
        } else {
            alert('Sorry, the maximum value was reached');
            $(this).val($(this).data('oldValue'));
        }


    });
    $(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });


    function submitForm(formId) {
        document.getElementById(formId).submit();
    }
    //$('#editable-select').editableSelect();
    $(function () {

        var bgImg = document.getElementById("img_Bg");
        let smImages = document.getElementsByClassName("sm_img");
        //smImages.forEach(function (element) { element.addEventListener("click", tabbedImage(e), false) });
        for (let i = 0; i < smImages.length; i++) {
            smImages[i].addEventListener("click", function (e) { tabbedImage(e) }, false);
        }

        function tabbedImage(e) {
            let imgName = e.target.getAttribute("name");
            //let imgName = imgTitle.slice(0, imgTitle.indexOf("."));
            let imgSrc = "/Files/Bg/" + imgName;
            bgImg.setAttribute('src', imgSrc);
        }
    })
</script>

