@model AdminProductViewModel

@{
    ViewBag.Title = "All Products";
    Layout = "_AdminLayout";
}

<div class="container">
    <form asp-action="Edit"  method="post">
        <input type="hidden" asp-for="Product.Id" />
        <div class="form-group row">
            <label asp-for="@Model.Product.Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-8">
                <div> <span asp-validation-for="@Model.Product.Name" class="text-danger"></span></div>
                <input asp-for="Product.Name" class="form-control" />
            </div>
        </div>
        @if (Model.Product.Category != null)
        {
            <div class="form-group row">
                <label asp-for="@Model.Product.Category.ID" class="col-sm-2 col-form-label">Категория</label>
                <div class="col-sm-8">
                    <select id="editable-select" asp-for="@Model.Product.Category.Name" class="form-control" asp-items="@(new SelectList(Model.Categories, "Name", "Name", "CategoryId"))">
                        <option value="@Model.Product.Category.Name">@Model.Product.Category.Name</option>
                    </select>
                    <span asp-validation-for="@Model.Product.Category.Name" class="text-danger"></span>
                </div>
            </div>
        }
        <div class="form-group row">
            <label asp-for="@Model.Product.Price" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-8">
                <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
                <input asp-for="Product.Price" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.Product.Color" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-8">
                <select id="editable-select" asp-for="@Model.Product.Color" class="form-control" asp-items="@(new SelectList(Model.Colors, "Color"))">
                    <option value="@Model.Product.Color">@Model.Product.Color</option>
                </select>
                <span asp-validation-for="@Model.Product.Color" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.Product.Description" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-8">
                <div> <span asp-validation-for="@Model.Product.Description" class="text-danger"></span></div>
                <textarea asp-for="@Model.Product.Description" rows="5" class="form-control vresize"> </textarea>

            </div>
        </div>
        @if (Model.Product.Products != null && Model.Product.Products.Count > 0 || Model.Product.Category.Name == "Комплекты")
        {
            @await Component.InvokeAsync("EditProduct", Model)
        }
        else
        {
            @if (Model.Product.Category.Name != "Комплекты")
            {
                <div class="row">           
                    <label class="col-sm-2 col-form-label"> Размеры в наличии:</label>
                    <div class="col-sm-2">
                        @if (@Model.Product.Sizes != null)
                        {

                            <select multiple="multiple" name="sizesD" class="form-control" asp-for="@Model.Product.Sizes">
                                @foreach (var size in Model.Product.Sizes)
                                {
                                    <option>@size.Name</option>
                                }
                            </select>
                        }
                            @*<a asp-action="RemoveSizes" class="btn btn-sm btn-warning"
                       asp-route-productId="@Model.Product.Id">
                        Delete
                    </a>*@
                        </div>
                        <label asp-for="@Model.Product.Sizes" class="col-sm-2 col-form-label"> Добавить размер:</label>

                        <div class="col-sm-2">
                            <select multiple="multiple" class="form-control" name="sizes" asp-items="@(new SelectList(Model.SizesForCreateProduct, "Name", "Name"))"></select>
                            @*<span asp-validation-for="@Model.Product.Sizes" class="text-danger"></span>*@
                        </div>
                    </div>
                }
            }
            <div class="form-group row">
                <div class="col-sm-10">
                    <button asp-action="RemoveSizes"  class="btn btn-sm btn-warning" asp-route-productId="@Model.Product.Id">Delete Sizes</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                    <a asp-action="Create" class="btn btn-warning">Clean</a>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

                </div>
            </div>
</form> 
</div>

<div class="container">
    <div class="row">

        @if (@Model.Product.Images != null)
        {
            @foreach (FileModel image in @Model.Product.Images)
            {
                <div class="col-md-3">
                    <div class="thumbnail text-center">
                        <div>
                            <a href="@Url.Content("/Files/Bg/" + image.Name)">
                                <img class="imageAdmin" src="@Url.Content("/Files/Sm/" + image.Name)" alt="@image.Name" title="@image.Name">
                            </a>
                        </div>
                        <div>
                            <a asp-action="RemoveImage" class="btn btn-sm btn-warning"
                               asp-route-productId="@Model.Product.Id" asp-route-imageName="@image.Name">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="col-md-3 align-self-center">
            <form id="form" asp-action="AddImage" asp-route-productId="@Model.Product.Id" method="post" enctype="multipart/form-data">
                <div class="upload-button">
                    <a onclick="document.getElementById('file-input').click();" class="btn btn-sm btn-info">Add</a>
                    <input id="file-input" type="file" name="uploadedFile" onchange="submitForm('form');" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="text-center">
    <a asp-action="List" asp-route-category="@Model.Product.Category.Name" class="btn btn-primary">Back to List</a>
</div>

<script>
    function submitForm(formId) {
        document.getElementById(formId).submit();
    }
    //$('#editable-select').editableSelect();

</script>
@*<script src="~/js/createProduct.js"></script>*@


