@model Cart
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="content">
        <div class="bProductView">
            <div class="bWrap">
                <h2 class="m-1 text-center">Your Cart</h2>
                <div class="row">
                    <div class="col-sm-2 col-xs-2   font-weight-bold text-center">Product</div>
                    <div class="col-sm-2 col-xs-2  font-weight-bold text-center"></div>
                    <div class="col-sm-2 col-xs-2 font-weight-bold text-center">Size</div>
                    <div class="col-sm-2 col-xs-2 font-weight-bold text-center">Quantity</div>
                    <div class="col-sm-1 col-xs-1 font-weight-bold text-center">Price</div>
                    <div class="col-sm-1 col-xs-1 font-weight-bold text-center">Subtotal</div>
                </div>
                @if (Model.Selections.Count() == 0)
                {
                    <div class="row mt-2"><div class="col-12"><h4>Cart is Empty</h4></div></div>
                }
                else
                {
                    @foreach (OrderLine line in Model.Selections)
                    {
                    <div class="row">
                        <div class="col-sm-2 col-xs-2  marginTop30 text-center">
                            @line.Product.Name
                        </div>
                        <div class="col-sm-2 col-xs-2 marginTop0 text-center">

                            @if (line.Product.Images.Count > 0)
                            {
                                <img width="170" class="sm_img" name="@line.Product.Images[0].Name" src="@Url.Content("/files/Sm/" + @line.Product.Images[0].Name)" />
                            }
                        </div>
                        <div class="col-sm-2 col-xs-1  marginTop30  text-center">@line.Product.Sizes</div>
                        <div class="col-sm-2 col-xs-1  marginTop30 text-center">@line.Quantity</div>
                        @*<input type="number" id="quantity" name="quantity" value="@line.Quantity"
                               min="1" max="10">*@
                        <div class="col-sm-1 col-xs-1  marginTop30 text-center">
                            $@line.Product.Price.ToString("f2")
                        </div>
                        <div class="col-sm-1  col-xs-1 marginTop30  text-center">
                            $@((line.Product.Price * line.Quantity).ToString("f2"))
                        </div>
                        <div class="col-sm-1 col-xs-1  marginTop25  text-center">
                            <form asp-action="RemoveFromCart">
                                <button type="submit" name="productId"
                                        value="@line.ProductId"
                                        class="btn btn-sm btn-outline-danger">
                                    Remove
                                </button>
                            </form>
                        </div>
                    </div>
                    }
                }
                <div class="row mt-2">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col text-right font-weight-bold">Total:</div>
                    <div class="col text-right font-weight-bold">
                        $@(Model.Selections.Sum(l => l.Product.Price
                                                               * l.Quantity).ToString("f2"))
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="text-center m-2">
                @if (ViewBag.returnUrl != null)
                {
                    <a href="@ViewBag.returnUrl" class="btn btn-outline-primary">
                        Continue Shopping
                    </a>
                }
                else
                {
                    <a asp-controller="Shop" asp-action="List" class="btn btn-outline-primary">
                        Continue Shopping
                    </a>
                }

                @if (Model.Selections.Count() != 0)
                {
                    <a asp-action="CreateOrder"  asp-controller="Cart" class="btn btn-primary">
                        Place Order
                    </a>
                }
            </div>
        </div>

    </div>
        </div>
