@model Cart
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="content">
        <div class="bProductView">
            <div class="bWrap">
                <div class="wrapCart">
                    @if (Model.Selections.Count() == 0)
                    {
                        <div class="row mt-2"><div class="col-12"><h4>Cart is Empty</h4></div></div>
                    }
                    else
                    {
                        @foreach (OrderLine line in Model.Selections.Where(l => l.Product.Category != null))
                        {
                            <div class="rowalignAndHeight">
                                <div class="col-sm-12 col-xs-12 marginTop0 text-center">

                                    @if (line.Product.Images.Count > 0)
                                    {
                                        <img class="sm_img" name="@line.Product.Images[0].Name" src="@Url.Content("/files/Sm2/" + @line.Product.Images[0].Name)" />
                                    }
                                        <form asp-action="RemoveFromCart" asp-controller="Cart" method="post" enctype="multipart/form-data" id="@line.Product.Id">

                                            <input type="hidden" asp-for="@line.Product.Id" name="product.Id" />
                                            <input type="hidden" name="product.Name" asp-for="@line.Product.Name" />
                                            @if (line.Product.Category != null && line.Product.Category.Name != null)
                                            {
                                                <input type="hidden" asp-for="@line.Product.Category.Name" name="product.Category.Name" />

                                            }

                                            @if (line.Product.Sizes != null &&  line.Product.Sizes.Count != 0 && line.Product.Products != null && line.Product.Products.Count == 0)
                                            {

                                                <input type="hidden" name="product.Sizes[0].Name" asp-for="@line.Product.Sizes[0].Name" />


                                            }

                                            <input type="hidden" asp-for="@line.Product.Price" name="product.Price" />
                                            @if (@line.Product.Products.Count > 0)
                                            {
                                                @*<label class="size col-sm-2 col-form-label">Размер</label>*@


                                                @for (int i = 0; i < @line.Product.Products.Count; i++)
                                                {
                                                    <input type="hidden" name="product.Products[@i].Name" asp-for="@line.Product.Products[i].Name" />

                                                    @if (line.Product.Products[i].Sizes != null)
                                                    {
                                                        @for (int c = 0; c < @line.Product.Products[i].Sizes.Count; c++)
                                                        {
                                                            <input type="hidden" name="product.Products[@i].Sizes[0].Name" asp-for="@line.Product.Products[i].Sizes[0].Name" />
                                                        }
                                                    }
                                                }

                                            }

                                            <button type="submit" name="product"
                                                    value="@line.Product"
                                                    class="btn btn-sm btn-outline-danger">
                                                Удалить
                                            </button>
                                        </form>
                                </div>
                            </div>
                            <div class="row alignAndHeight">
                                <div class="col-sm-2 col-xs-2   font-weight-bold text-left">Товар:</div>
                                <div class="col-sm-10 col-xs-10   text-right">
                                    @line.Product.Name
                                </div>
                            </div>
                            @if (line.Product.Sizes != null && line.Product.Sizes.Count > 0)
                            {
                                <div class="row alignAndHeight">
                                    <div class="col-sm-2 col-xs-2   font-weight-bold text-left">Размер:</div>
                                    <div class="col-sm-10 col-xs-10    text-right">

                                        @line.Product.Sizes[0].Name

                                    </div>
                                </div>
                            }
                            else if (line.Product.Category.Name == "Комплекты" || line.Product.Category.Name == "Ролевое бельё")
                            {
                                @for (int i = 0; i < line.Product.Products.Count; i++)
                                {
                                    if (line.Product.Products[i].Sizes != null)
                                    {
                                        <div class="row alignAndHeight">
                                            <div class="col-sm-2 col-xs-2   font-weight-bold text-left">
                                                @if (line.Product.Products[i].Name == "Top")
                                                {
                                                    <span>Бра:</span>
                                                }
                                                else if (line.Product.Products[i].Name == "Bottom")
                                                {
                                                    <span>Трусики:</span>
                                                }
                                                else
                                                {
                                                    <span>@line.Product.Products[i].Name:</span>
                                                }
                                            </div>
                                            <div class="col-sm-10 col-xs-10   text-right">@line.Product.Products[@i].Sizes[0].Name</div>
                                        </div>
                                    }
                                }
                            }
                            else
                            {
                                @*<div class="col-sm-10 col-xs-10 text-right">
                        One size
                    </div>*@
                            }
                            <div class="row alignAndHeight">
                                <div class="col-sm-2 col-xs-2   font-weight-bold text-left">Количество:</div>

                                <div class="col-sm-10 col-xs-10   text-right">@line.Quantity</div>
                            </div>
                            <div class="row alignAndHeight border-bottom">
                                <div class="col-sm-2 col-xs-2   font-weight-bold text-left">Цена:</div>
                                <div class="col-sm-10 col-xs-10   text-right">
                                    @if (line.Product.Category.Name == "Комплекты" || line.Product.Category.Name == "Ролевое бельё")
                                    {
                                        var price = 0;
                                        foreach (var p in line.Product.Products)
                                        {
                                            if (p.Sizes != null && p.Sizes.Count > 0 && p.Price > 0)
                                            {
                                                price += p.Price;
                                            }
                                        }
                                        if (line.Product.Price != 0)
                                        {
                                            price += line.Product.Price;
                                        }
                                        @price.ToString("f0");
                                    }
                                    else
                                    {@line.Product.Price.ToString("f0");
                                }

                                </div>
                            </div>
                            @*<div class="row alignAndHeight">
                    <div class="col-sm-12 col-xs-12   text-right">
                        <form asp-action="RemoveFromCart">
                            <button type="submit" name="productId"
                                    value="@line.ProductId"
                                    class="btn btn-sm btn-outline-danger">
                                Удалить
                            </button>
                        </form>
                    </div>
                </div>*@
                        }
                    }
                    @if (ViewBag.returnUrl != null && Model.Selections.Count() != 0)
                    {
                        <div class="row alignAndHeight border-bottom">
                            <div class="col-sm-2 col-xs-2   font-weight-bold text-left">Сумма:</div>
                            <div class="col text-right font-weight-bold">
                                @(Model.Selections.Sum(l => l.Product.Price * l.Quantity).ToString("f0"))
                            </div>
                        </div>
                    }
                        <div class="text-center m-2">
                            @if (ViewBag.returnUrl != null)
                            {
                                <a href="@ViewBag.returnUrl" class="btn btn-outline-primary">
                                    Продолжить покупки
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Shop" asp-action="List" class="btn btn-outline-primary">
                                    Продолжить покупки
                                </a>
                            }

                            @if (Model.Selections.Count() != 0)
                            {
                                <a asp-action="CreateOrder" asp-controller="Cart" class="btn btn-primary">
                                    Заказать
                                </a>
                            }
                            @if (Model.Selections.Count() != 0)
                            {
                                <a asp-action="Clear" asp-controller="Cart"  asp-route-returnUrl="@ViewBag.returnUrl" class="btn btn-primary">
                                    Очистить корзину
                                </a>
                            }
                        </div>
                    </div>
        </div>
            </div>
    </div>
</div>
