@model Order
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
        .no-border {
            border: 1px #dddddd;
        }

        .tableBackground {
            background-color: #efefef;
        }

        .header-content {
            /*background: url('cid:header');*/
            padding: 5px;
            margin: 5px;
            text-align: center;
        }
        .center {
            text-align: center;
            font-size: 16px
        }
        .marginTd {
            margin: 5px;
        }
        marginTr{
            margin-bottom: 8px;
        }
        .grayColor {
            color: gray;
        }
    </style>





</head>
<body>
    @*<div class="header-content">
            <h3>Referbruv! For all things programming.</h3>
        </div>*@
    <div class='center'>
        <h3>TILOSHOWROOM <br> </h3>

        <p>Шановний(-a) @Model.CustomerName, <br></p>
        <p>
            Ваше замовлення № @Model.Id, наш менеджер передзвонить Вам найближчим часом.<br>
        </p>
        <p> З подякою, <a href='tiloshowroom.com' target='_blank'>Tiloshowroom.com</a></p>
    </div>
    <div class="tableBackground center">
        <p class="grayColor">ДЕТАЛІ ЗАМОВЛЕННЯ</p>
        @foreach (var orderLine in Model.Lines)
        {
            var name = "";
            var priceAllOrder = 0;
        
        <table class="no-border">
            @*<tr class="marginTr">
                <td class="marginTd" colspan="2"><p> </p></td>
                <td class="marginTd" colspan="2"><p>Колір:</p></td>
                <td class="marginTd" colspan="2"><p>Розмір:</p></td>
                <td class="marginTd" colspan="2"><p>Кількість:</p></td>
                <td class="marginTd" colspan="2"><p>Ціна: </p></td>
            </tr>*@
            @if (orderLine.Product.Products != null && orderLine.Product.Products.Count > 0)
            {

            <tr class="marginTr">
                <td class="marginTd" colspan="2">
                    <h4> @orderLine.Product.Name </h4>
                    <p>Колір:@orderLine.Product.Color</p>
                    <p>Кількість: @orderLine.Quantity</p>
                </td>
                <td class="marginTd" colspan="2"><h4>@(orderLine.Product.Price * orderLine.Quantity)грн</h4></td>
            </tr>

                @foreach (var p in orderLine.Product.Products)
                {
                    <tr class="marginTr">
                        @if (p.Sizes != null)
                        {
                            @if (p.Name == "Bottom")
                            { name = "Трусики"; }
                            else if (p.Name == "Top")
                            { name = "Бра"; }
                            else { name = p.Name; }

                            <td class="marginTd" colspan="2"><p> @name </p></td>


                            if (p.Price > 0)
                            {
                                priceAllOrder += p.Price;
                                <td class="marginTd" colspan="2"><p>@p.Sizes[0].Name</p></td>
                                <td class="marginTd" colspan="2"><p>@p.Price грн</p></td>
                            }
                            else
                            {
                                <td class="marginTd" colspan="2"><p>@p.Sizes[0].Name</p></td>
                            }

                        }
                    </tr>
                }
            }
            else
            {

                <tr class="marginTr">
                    <td class="marginTd" colspan="2"><p> @orderLine.Product.Name </p></td>
                    <td class="marginTd" colspan="2"><p> @orderLine.Product.Color </p></td>
                    <td class="marginTd" colspan="2"><p>Розмір: @orderLine.Product.Sizes[0].Name</p></td>
                    <td class="marginTd" colspan="2"><p>Кількість: @orderLine.Quantity</p></td>
                    <td class="marginTd" colspan="2"><p>Ціна: @(orderLine.Product.Price * orderLine.Quantity)грн</p></td>
                </tr>

            }
        </table>
            @*<div class='col-sm-4'>
                <img src="" cid:{0}"">
            </div>
            <div class='col-sm-4'>
                <h3>@orderLine.Product.Name</h3>
                <p>Розмір: @orderLine.Product.Sizes[0].Name </p>
                <p>Кількість: @orderLine.Quantity</p>
            </div>
            <div class='col-sm-2'>
                <h3> @orderLine.Product.Price </h3>
            </div>*@


            @*}*@
        }

    </div>

</body>
</html>
