@model Order
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
        table, body {
            color: black;
        }
        .no-border {
            border: 1px #dddddd;
        }

        .tableBackground {
            background-color: #efefef;
        }

        .header-content {
            /*background: url('cid:header');*/
            padding: 5px;
            margin: 5px;
            text-align: center;
        }
        .center {
            text-align: center;
            font-size: 12px
        }
        .marginTd {
            margin: 2px;      
        }
        marginTr {
            margin-bottom: 2px;
        }
        marginTr20 {
            padding-top: -20px;
        }
        .grayColor {
            color: gray;
        }
        .img{
            width: 100px;
        }
        .widthTd250{
            width: 300px;
        }
        .width650{
            width: 550px;
        }
        .height30 {
            height: 30px
        }
        .marginCenter{
            margin-left:auto;
            margin-right:auto;
        }
        th, td{
            padding: 1px;
        }
        p{
            margin: 2px;
        }
        h4{
            margin: 2px;
        }

    </style>





</head>
<body>
    @*<div class="header-content">
            <h3>Referbruv! For all things programming.</h3>
        </div>*@
    <div class='center'>
        <h3>TILOSHOWROOM <br> </h3>

        <p>Шановний(-a) @Model.CustomerName, <br></p>
        <p>
            Ваше замовлення № @Model.Id, наш менеджер передзвонить Вам найближчим часом.<br>
        </p>
        <p> З подякою, <a href='tiloshowroom.com' target='_blank'>Tiloshowroom.com</a></p>
    </div>
    <div class="tableBackground marginCenter width650">
        <p class="grayColor center">ДЕТАЛІ ЗАМОВЛЕННЯ</p>

        @{var priceAllOrder = 0; }

        <table class="no-border center marginCenter">
            @foreach (var orderLine in Model.Lines)
            {
                var name = "";
                var price = 0;

                @if (orderLine.Product.Products != null && orderLine.Product.Products.Count > 0)
                {
                    <tr class="marginTr">
                        @if (orderLine.Product.Images != null && orderLine.Product.Images.Count > 0)
                        {
                            <td class="marginTd" rowspan="3"> <img class="img" src="cid:@orderLine.Product.Id.ToString()" /></td>
                        }
                        <td class="marginTd widthTd250">
                            <h4> @orderLine.Product.Name </h4>
                            <p>Колір: @orderLine.Product.Color </p>
                            <p>Кількість: @orderLine.Quantity</p>
                        </td>
                        <td class="marginTd"><h4>@(orderLine.Product.Price * orderLine.Quantity) грн</h4></td>
                    </tr>

                    price = orderLine.Product.Price * orderLine.Quantity;
                    priceAllOrder = priceAllOrder + price;

                    @foreach (var p in orderLine.Product.Products)
                    {

                        @if (p.Sizes != null)
                        {
                    <tr class="marginTr20 height30">
                        @if (p.Name == "Bottom")
                        { name = "Трусики"; }
                        else if (p.Name == "Top")
                        { name = "Бра"; }
                        else { name = p.Name; }


                        @if (p.Price > 0)
                        {
                            priceAllOrder += p.Price;
                            <td class="marginTd"></td>
                            <td class="marginTd"><p> @name: @p.Sizes[0].Name</p></td>
                            <td class="marginTd" colspan="2"><h4>@p.Price грн</h4></td>
                        }
                        else
                        {
                            <td class="marginTd widthTd250"><p> @name: @p.Sizes[0].Name </p></td>
                        }

                    </tr>

                        }

                    }
                }
                else
                {
                    <tr class="marginTr align">
                        @if (orderLine.Product.Images != null && orderLine.Product.Images.Count > 0)
                        {
                            <td class="marginTd"><img class="img" src="cid:@orderLine.Product.Id.ToString()" /></td>
                        }
                        <td class="marginTd widthTd250">
                            <h4> @orderLine.Product.Name </h4>
                            <p>Колір: @orderLine.Product.Color </p>
                            <p>Розмір: @orderLine.Product.Sizes[0].Name</p>
                            <p>Кількість: @orderLine.Quantity</p>
                        </td>
                        <td class="marginTd"><h4>@(orderLine.Product.Price * orderLine.Quantity) грн</h4></td>

                    </tr>

                    price = orderLine.Product.Price * orderLine.Quantity;
                    priceAllOrder = priceAllOrder + price;
                }
            }
                    <tr class="marginTr align">
                            <td class="marginTd"></td>

                            <td class="marginTd widthTd250">
                                <h4>Сума замовлення:</h4>
                            </td>
                            <td class="marginTd" colspan="2"><h4>@priceAllOrder грн</h4></td>
                        </tr>
        </table>
        </div>

</body>
</html>
