@model AdminProductViewModel

<div id="selection">
    @for (int i = 0; i < Model.Product.Products.Count; i++)
    {
        @*<div class="form-group row">
                <label asp-for="@prod.Description" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div> <span asp-validation-for="@prod.Description" class="text-danger"></span></div>
                    <textarea asp-for="@prod.Description" rows="5" class="form-control vresize"> </textarea>

                </div>
            </div>*@
        <input type="hidden" asp-for="@Model.Product.Products[i].Id" />
        <input type="hidden" asp-for="@Model.Product.Products[i].Name" value="@Model.Product.Products[i].Name" />
        <input type="hidden" asp-for="@Model.Product.Products[i].Color" value="black" />
        @*<input type="hidden" asp-for="@Model.Product.Products[i].Category.Name" />*@
        <input type="hidden" asp-for="@Model.Product.Products[i].Name" value="@Model.Product.Name" />
        <input type="hidden" asp-for="@Model.Product.Products[i].Description" value="Color: @Model.Product.Color" />

        <div class="form-group row">
            <label asp-for="@Model.Product.Products[i].Sizes" class="col-sm-2 col-form-label">@Model.Product.Products[i].Name:</label>
            <div class="col-sm-10">
                <select multiple id="editable-select" name="@Model.Product.Products[i].Name" asp-for="@Model.Product.Products[i].Sizes" class="form-control" asp-items="@(new SelectList(Model.SizesForCreateProduct, "Name", "Name", Model.Product.Sizes))">
                    @*<option value="@Model.Product.Products[i].Sizes">@Model.Product.Products[i].Sizes</option>*@
                </select>
                @*<div> <span asp-validation-for="@Model.Product.Products[i].Sizes" class="text-danger"></span></div>*@

            </div>
        </div>


        @*<div class="form-group row">
                <label asp-for="@Model.Product.Products[i].Name" class="col-sm-2 col-form-label">@Model.Product.Products[i].Name</label>
                @*<div class="col-sm-10">
                        <div> <span asp-validation-for="@prod.Name" class="text-danger"></span></div>
                        <input asp-for="Product.Name" class="form-control" />
                    </div>
            </div>*@


    }
</div>